<section class="equations w-full h-full overflow-scroll m-5 flex flex-col gap-5">
  <div class="flex-shrink-0  w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      Equazioni Irrazionali (sqrt(fx) &equals; g(x))
    </h2>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam asperiores beatae commodi culpa cumque dolore, ea eius eveniet excepturi ipsam magnam maxime minima molestias nisi, nostrum obcaecati vero, voluptatem?
    </p>
  </div>
  <div class="flex-shrink-0 w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      Disequazioni Irrazionali (sqrt(fx) &le; g(x))
    </h2>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloremque eligendi fuga id libero magni modi molestias nisi non odit, officiis perspiciatis quibusdam quos sit tenetur velit veritatis. Beatae, incidunt.
    </p>
  </div>
  <div class="flex-shrink-0 w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      Disequazioni Irrazionali (sqrt(fx) &ge; g(x))
    </h2>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam asperiores beatae commodi culpa cumque dolore, ea eius eveniet excepturi ipsam magnam maxime minima molestias nisi, nostrum obcaecati vero, voluptatem?
    </p>
  </div>
  <div class="flex-shrink-0 w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      Disequazioni Irrazionali (sqrt(fx) &le; sqrt(g(x)))
    </h2>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloremque eligendi fuga id libero magni modi molestias nisi non odit, officiis perspiciatis quibusdam quos sit tenetur velit veritatis. Beatae, incidunt.
    </p>
  </div>
  <div class="flex-shrink-0 w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      Disequazioni Irrazionali (sqrt(fx) &ge; sqrt(g(x)))
    </h2>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam asperiores beatae commodi culpa cumque dolore, ea eius eveniet excepturi ipsam magnam maxime minima molestias nisi, nostrum obcaecati vero, voluptatem?
    </p>
  </div>
  <div class=" flex-shrink-0 w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      Equazioni con Modulo (|f(x)| = a)
    </h2>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloremque eligendi fuga id libero magni modi molestias nisi non odit, officiis perspiciatis quibusdam quos sit tenetur velit veritatis. Beatae, incidunt.
    </p>
  </div>
  <div class="mb-64 flex-shrink-0 w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      Disequazioni con Modulo (|f(x)| &le; g(x))
    </h2>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloremque eligendi fuga id libero magni modi molestias nisi non odit, officiis perspiciatis quibusdam quos sit tenetur velit veritatis. Beatae, incidunt.
    </p>
  </div>


<!--todo: add to last element class='mb-64'-->
</section>
