<section class="equations w-full h-full overflow-scroll m-5 flex flex-col gap-5">
    <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
        <span class="font-black text-transparent bg-clip-text bg-gradient-to-r from-slate-700 via-fuchsia-900 to-indigo-800">
            ANALISI DI UNA FUNZIONE
        </span>
    </h1>

    <div class="flex-shrink-0  w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
      <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        DOMINIO
      </h3>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum incidunt, neque praesentium nulla veritatis fugiat quisquam omnis error, ut amet illum. Sapiente enim iure aut dolorum assumenda sunt facilis temporibus! 
      </p>
    </div>
    <div class="flex-shrink-0  w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          SEGNO DELLA FUNZIONE
        </h3>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa harum repudiandae, at quod doloribus a error voluptatem voluptas molestiae veritatis, tempora nesciunt est blanditiis corporis nihil obcaecati sed. Voluptas.
        </p>
      </div>
      <div class="flex-shrink-0  w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          SIMMETRIA DELLA FUNZIONE
        </h3>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa harum repudiandae, at quod doloribus a error voluptatem voluptas molestiae veritatis, tempora nesciunt est blanditiis corporis nihil obcaecati sed. Voluptas.
        </p>
      </div>
      <div class="flex-shrink-0  w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          EVENTUALI PUNTI DI INTERSEZIONE CON IL PIANO CARTESIANO
        </h3>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa harum repudiandae, at quod doloribus a error voluptatem voluptas molestiae veritatis, tempora nesciunt est blanditiis corporis nihil obcaecati sed. Voluptas.
        </p>
      </div>
      <div class="flex-shrink-0  w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          LIMITI (agli estremi del dominio)
        </h3>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa harum repudiandae, at quod doloribus a error voluptatem voluptas molestiae veritatis, tempora nesciunt est blanditiis corporis nihil obcaecati sed. Voluptas.
        </p>
      </div>
      <div class="flex-shrink-0  w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          DEFINIRE EVENTUALE ESISTENZA DI ASINTOTI
        </h3>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa harum repudiandae, at quod doloribus a error voluptatem voluptas molestiae veritatis, tempora nesciunt est blanditiis corporis nihil obcaecati sed. Voluptas.
        </p>
      </div>
      <div class="flex-shrink-0  w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          DEFINIRE EVENTUALI PUNTI DI DISCONTINUIT&Agrave;
        </h3>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa harum repudiandae, at quod doloribus a error voluptatem voluptas molestiae veritatis, tempora nesciunt est blanditiis corporis nihil obcaecati sed. Voluptas.
        </p>
      </div>
      <div class="flex-shrink-0  w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          TROVARE DERIVATA PRIMA
        </h3>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa harum repudiandae, at quod doloribus a error voluptatem voluptas molestiae veritatis, tempora nesciunt est blanditiis corporis nihil obcaecati sed. Voluptas.
        </p>
      </div>
      <div class="flex-shrink-0  w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          DERIVATA PRIMA PER STABILIRE L'ANDAMENTO DELLA FUNZIONE (crescente/decrescente)
        </h3>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa harum repudiandae, at quod doloribus a error voluptatem voluptas molestiae veritatis, tempora nesciunt est blanditiis corporis nihil obcaecati sed. Voluptas.
        </p>
      </div>
      <div class="flex-shrink-0  w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          APPUNTARE EVENTUALI PUNTI DI NON DISCONTINUIT&Agrave;
        </h3>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa harum repudiandae, at quod doloribus a error voluptatem voluptas molestiae veritatis, tempora nesciunt est blanditiis corporis nihil obcaecati sed. Voluptas.
        </p>
      </div>
      <div class="flex-shrink-0  w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          DERIVATA SECONDA
        </h3>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa harum repudiandae, at quod doloribus a error voluptatem voluptas molestiae veritatis, tempora nesciunt est blanditiis corporis nihil obcaecati sed. Voluptas.
        </p>
      </div>
      <div class="flex-shrink-0  w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          DERIVATA SECONDA PER STUDIARE CONCAVIT&Agrave; DELLA FUNZIONE
        </h3>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa harum repudiandae, at quod doloribus a error voluptatem voluptas molestiae veritatis, tempora nesciunt est blanditiis corporis nihil obcaecati sed. Voluptas.
        </p>
      </div>
      <div class="flex-shrink-0  w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          PUNTI DI FLESSO
        </h3>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa harum repudiandae, at quod doloribus a error voluptatem voluptas molestiae veritatis, tempora nesciunt est blanditiis corporis nihil obcaecati sed. Voluptas.
        </p>
      </div>
      <div class="mb-64 flex-shrink-0  w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
        <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          EQUAZIONI RETTE TANGENTI DEI PUNTI DI FLESSO SE ESISTENTI
        </h3>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia culpa harum repudiandae, at quod doloribus a error voluptatem voluptas molestiae veritatis, tempora nesciunt est blanditiis corporis nihil obcaecati sed. Voluptas.
        </p>
      </div>
</section>