<section class="equations w-full h-full overflow-scroll m-5 flex flex-col gap-5">
  <div class="flex-shrink-0 w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      Definizione di Relazione
    </h2>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      &Eacute; un criterio che permette di associare gli elementi di un gruppo non nullo <strong><i>A</i></strong> con gli elementi di un gruppo non nullo <strong><i>B</i></strong>
    </p>
  </div>
  <div class="flex-shrink-0 w-11/12 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-600 dark:border-gray-500">
    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      Definizione di Funzione
    </h2>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      &Eacute; una relazione tra 2 insiemi non nulli <strong><i>A</i></strong> e <strong><i>B</i></strong> che associa ad ogni elemento di <strong><i>A</i></strong> uno e uno solo elemento di <strong><i>B</i></strong>
    </p>
  </div>
</section>
